<h1>Sign up</h1>

<%= error_messages_for :user %>

<% form_for :user, :url => signup_path, :html =>{:id => "signup"} do |form| -%>
	<p>
  	<b>Email Address</b><br />
		<%= form.text_field :email_address %>
  </p>

	<p>
  	<b>Password</b><br />
		<%= form.password_field :password %>
  </p>

	<p>
  	<b>Password Confirmation</b><br />
		<%= form.password_field :password_confirmation %>
  </p>

	<p>
  	<%= form.submit 'Signup' %>
	</p>
<% end -%>

<%= link_to "login", login_path %>