<ul id="subnav">
  <li><%= link_to "<em>o</em>verview", project, :accesskey => "o" %></li>
  <li><%= link_to "<em>w</em>orkspace", workspace_project_path(project), :accesskey => "w" %></li>
  <li><%= link_to "<em>s</em>tories", stories_path(project), :accesskey => "s" %></li>
  <li><%= link_to "<em>p</em>hases", project_phases_path(project), :accesskey => "p" %></li>
  <li><%= link_to "invite people", new_project_invitation_path(project) %></li>
</ul>