<div class="section workspace">
  <table width="100%">
    <tr>
      <td><b>Workspace</b> | <%= h current_iteration_name() %></td>
      <td align="right">
      <%= link_to "start new iteration", project_iterations_path(@project), :method => "post" %> | 
      <%= link_to_remote "create story", :url => new_story_path( @project ), :method => :get %></td>
    </tr>
  </table>
  <div id="iteration_nil_story_new"></div>
  <div id="iteration_nil" class="story_list">
  	<%= render :partial  => 'stories/list', :locals => { :stories => @stories } %>
  </div>

  <%= sortable_element "iteration_nil",
                       :url => reorder_stories_path(@project), :method => :put,
                       :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, 
                       :onChange =>  "Strac.Iteration.drawWorkspaceVelocityMarkers"
                        -%>
</div>