<table>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <b>Description</b>
          </td>
        </tr>
        <tr>
          <td>
            <%= form.text_area :description %>
          </td>
        </tr>
      </table>
    </td>
    <td valign="top">
      <table>
        <tr>
          <td>
            <b>Summary</b>
          </td>
          <td>
            <%= form.text_field :summary %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Points</b>
          </td>
          <td>
            <%= form.text_field :points %>
          </td>
        </tr>
        <tr>
        <tr>
          <td>
            <b>Iteration</b>
          </td>
          <td>
            <%= form.collection_select :iteration_id, @project.iterations.ordered, :id, :name, :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td>
            <b>Tags</b>
          </td>
          <td>
            <%= form.text_field :tag_list %> <i>(tags are comma separated)</i>
          </td>
        </tr>
      <table>
    </td>
  </tr>
</table>
