<% for iteration in @project.iterations.find( :all, :order => :start_date ) -%>
	
  <table width="100%">
    <tr>
      <td>
				<%= render :partial => 'iterations/header', :locals => { :iteration => iteration } %>
      </td>
      <td align="right"><%= link_to_remote "create story", :url => new_story_path( :project_id => @project, :iteration_id => iteration ), :method => :get %></td>
    </tr>
  </table>
	<div id="iteration_<%= iteration.id %>_story_new"></div>

  <div id="iteration_<%= iteration.id %>" class="story_list">
    <%= render :partial  => 'list', :locals => { :stories => iteration.stories.find( :all, :order => :position ) } %>
  </div>
  <br />
<% end -%>
<% unless @project.stories.find_backlog.empty? -%>

  <table width="100%">
    <tr>
      <td>
      	<b>Backlog</b>
      </td>
      <td align="right"><%= link_to_remote "create story", :url => new_story_path( @project ), :method => :get %></td>
    </tr>
  </table>
	<div id="iteration_nil_story_new"></div>
	<div id="iteration_nil" class="story_list">
	  <%= render :partial  => 'stories/list', :locals => { :stories => @project.stories.find_backlog( :order => :position ) } %>
	</div>

	<% iteration_list_ids = [ "iteration_nil" ] + @project.iterations.find( :all, :order => :start_date ).map{ |i| "iteration_#{i.id}" } -%>
	<% for iteration in iteration_list_ids -%>
	  <%= sortable_element iteration,
	                       :url => reorder_stories_path(@project), :method => :put,
	                       :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, :containment => iteration_list_ids -%>
	<% end -%>
<% end -%>