<% iterations.each do |iteration| -%>
  <table width="100%">
    <tr>
      <td>
				<%= render :partial => 'iterations/header', :locals => { :iteration => iteration } %>
      </td>
      <td align="right"><%= link_to_remote "create story", :url => new_story_path( :project_id => @project, :iteration_id => iteration ), :method => :get %></td>
    </tr>
  </table>
	<div id="<%= iteration.unique_id %>_story_new"></div>
  <div id="<%= iteration.unique_id %>" class="story_list">
    <%= render :partial  => 'stories/list', :locals => { :stories => iteration.stories } %>
  </div>
  <br />
<% end -%>

<table width="100%">
	<tr>
		<td>
     	<b>Backlog</b>
    </td>
   	<td align="right"><%= link_to_remote "create story", :url => new_story_path( @project ), :method => :get %></td>
  </tr>
</table>
<div id="<%= iterations.backlog.unique_id %>_story_new"></div>
<div id="<%= iterations.backlog.unique_id %>" class="story_list">
  <%= render :partial  => 'stories/list', :locals => { :stories => iterations.backlog.stories } %>
</div>

<% iterations.each_with_backlog do |iteration| -%>
  <%= sortable_element iteration.unique_id,
                       :url => reorder_stories_path(iteration.project), :method => :put,
                       :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, :containment => [iterations.backlog.unique_id] + iterations.map(&:unique_id) -%>
<% end -%>

