<% for iteration in @project.iterations -%>
  <b><%=h iteration.name %></b>
  <div id="iteration_<%= iteration.id %>">
    <%= render :partial  => 'iteration', :locals => { :stories => iteration.stories } %>
  </div>
  <br />
<% end -%>
<b>Whenever...</b>
<div id="iteration_nil">
  <%= render :partial  => 'iteration', :locals => { :stories => @project.stories.without_iteration } %>
</div>

<% iteration_list_ids = [ "iteration_nil" ] + @project.iterations.map{ |i| "iteration_#{i.id}" } -%>
<% for iteration in iteration_list_ids -%>
  <%= sortable_element iteration,
                       :url => reorder_stories_path(@project), :method => :put,
                       :tag => 'div', :handle => 'draggable', :dropOnEmpty => true, :containment => iteration_list_ids -%>
<% end -%>