<ul class="statuses">
	<% for status in Status.find( :all ) -%>
		<li id="<%= "story_#{story.id}_status_#{status.id}" %>" title="<%= status.name %>" class="<%= "#{status.color}#{status == story.status ? " selected" : ""}" %>" onclick="<%= remote_function( :url => update_status_story_path( :project_id => @project, :id => story, :story => { :status_id => status.id } ), :method => :put, :condition => "! $(this).hasClassName('selected')" ) %>">&nbsp;&nbsp;&nbsp;</li>
	<% end -%>
</ul>

<span id="story_<%= story.id %>_header" style="position:absolute; right: 100px;">	
	<% if story.responsible_party.nil? -%>
		<%= render :partial=>'stories/take', :locals=>{:story=>story} %>
	<% else -%>
		<%= render :partial=>'stories/release', :locals=>{:story=>story} %>
	<% end -%>
</span>

<%= image_tag "move.gif", :class => 'draggable', :title => "drag to move" %>
<%= link_to_remote image_tag( 'show.png', :title => "click to display description" ), :url => story_path(@project, story), :method => :get, 
	:before => "if( !toggle_hide_show_with_smart_loading( 'story_#{story.id}_view', [ 'story_#{story.id}_edit', 'story_#{story.id}_time' ] ) ) { return false; }" %>
<%= link_to_remote image_tag( 'edit.png', :title => "click to edit" ), :url => edit_story_path(@project, story), :method => :get, 
	:before => "if( !toggle_hide_show_with_smart_loading( 'story_#{story.id}_edit', [ 'story_#{story.id}_view', 'story_#{story.id}_time' ], true ) ) { return false; }" %>
<%= link_to_remote image_tag( 'destroy.png', :title => "click to destroy" ), :url => story_path(@project, story), :method => :delete, :confirm => 'Are you sure?' %>
<%= link_to_remote image_tag( 'time.png', :title => "click to add time entries" ), :url => time_story_path(@project, story), :method => :get, 
	:before => "if( !toggle_hide_show_with_smart_loading( 'story_#{story.id}_time', [ 'story_#{story.id}_view', 'story_#{story.id}_edit' ], true ) ) { return false; }" %>

<b>Points:</b> <span id="story_<%= story.id %>_points" class="inplaceeditor-field"><%= story.points ? h( story.points ) : "&infin;" %></span>
 - <%= "S#{story.id}" %> - <%=h story.summary %>

<%= in_place_editor "story_#{story.id}_points", :url => update_points_story_path( @project, story ), :param_name => 'story[points]',
                                                :ajax_options => { :method => :put }, :eval_scripts => true,
                                                :ok_button => false, :size => 3 %>