<%= link_to_remote image_tag( 'show.gif' ), :url => story_path(@project, story), :method => :get, 
	:before => "if( !toggle_hide_show_with_smart_loading( 'story_#{story.id}_view', [ 'story_#{story.id}_edit' ] ) ) { return false; }" %>
<%= link_to_remote image_tag( 'edit.gif' ), :url => edit_story_path(@project, story), :method => :get, 
	:before => "if( !toggle_hide_show_with_smart_loading( 'story_#{story.id}_edit', [ 'story_#{story.id}_view' ] ) ) { return false; }" %>
<%= image_tag "move.gif", :class => 'draggable' %>
<%= check_box :story, :complete, :object => story, :id => "story_#{story.id}_complete" %>
<b>Points:</b>
<span id="story_<%= story.id %>_points" class="inplaceeditor-field"><%= story.points ? h( story.points ) : "&infin;" %></span>
 -
<%=h story.summary %>
<% if story.responsible_party -%>
  <span class="responsible_party">(<%=h story.responsible_party.name %>)</span>
<% end-%>
<%= in_place_editor "story_#{story.id}_points", :url => update_points_story_path( @project, story ), :param_name => 'story[points]',
                                                :ajax_options => { :method => :put }, :eval_scripts => true,
                                                :ok_button => false, :size => 3 %>
<%= observe_field "story_#{story.id}_complete",
                  :url => update_complete_story_path( @project, story ), :method => :put,
                  :with => "element.name + '=' + value" %>