<%= render :partial => "toolbar", :locals => { :story => story } %>

<div id="<%= "story_#{@story.id}_time_new" %>">
	<%= render :partial => "time_form" %>
</div>
<div id="<%= "story_#{@story.id}_time_list" %>">
	<%= render :partial => "time_list" %>
</div>
	