<div class="section">
  <div class="links">
    <% if @stories_presenter.iterations? %>
      <%= link_to 'View By Tags', stories_path(@project, :view=>'tags'), :class => 'tags_view action' %>
    <% elsif @stories_presenter.tags? %>
      <%= link_to 'View By Iterations', stories_path(@project, :view=>'iterations'), :class => 'iterations_view action' %>
    <% end %>
  </div>
  <h2>Stories</h2>
  
  <%= render :partial => "stories/search_form" %>

  <div id="stories" class="section_content">
    <% if @stories_presenter.iterations? %>
      <%= render :partial => 'stories/iterations', :locals => { :iterations => @stories_presenter.iterations } %>
    <% elsif @stories_presenter.tags? %>
      <%= render :partial => 'stories/tags', :locals => { :tags => @stories_presenter.tags } %>    
    <% end %>
  </div>
</div>

<%- javascript_tag do -%>
  document.observe('dom:loaded', function(){
    $$('#stories .draggable', '#stories .iteration .actions').invoke("hide");
  });
<%- end -%>
