<h1>New story</h1>

<%= error_messages_for :story %>

<% form_for :story, :url => stories_path( @project ) do |f| %>
  <%= render :partial=>'stories/form', :locals=>{ :form=>f } %>
  <p>
    <%= submit_tag "Create" %>
    <%= submit_tag "Create & Add another", :onclick => "this.form.action += '?redirect_to=#{new_story_path( @project )}'" %>
  </p>

<% end %>


<%= link_to 'Back', stories_path( @project ) %>
