<% if @iteration.new_record? -%>
	<%= render "iterations/new" %>
<% else -%>
	<b><%= @iteration.display_name %></b>
	<div id="iteration_<%= @iteration.id %>">
		<hr />
		<%= render :partial => "stories/list", :locals => { :stories => @iteration.stories } -%>
	</div>
<% end -%>

<br />

<%= render :partial  => 'stories/priority_list', :locals => { :stories => @stories } %>

