<% if @iteration.new_record? -%>
	<%= render "iterations/new" %>
<% else -%>
	<b><%= @iteration.display_name %></b>
	<div id="iteration_<%= @iteration.id %>">
		<hr />
		<%= render :partial => "stories/list", :locals => { :stories => @iteration.stories } -%>
	</div>
<% end -%>
<br />
<b>Backlog</b>
<div id="iteration_nil">
	<hr />
	<%= render :partial  => 'stories/list', :locals => { :stories => @stories } %>
</div>

<% iteration_list_ids = [ "iteration_nil", "iteration_#{@iteration.id}" ] -%>
<% for iteration in iteration_list_ids -%>
	<%= sortable_element iteration, :url => reorder_stories_path(@project), :method => :put,
				:tag => 'div', :handle => 'draggable', :dropOnEmpty => true, :containment => iteration_list_ids -%>
<% end -%>
