<h1>Editing iteration</h1>

<%= error_messages_for :iteration %>

<% form_for(:iteration, :url => iteration_path(@project, @iteration), :html => { :method => :put }) do |f| %>
  <p>
    <b>Project</b><br />
    <%= f.select :project_id, [[]] + Project.find( :all ).map { |p| [ p.name, p.id ] } %>
  </p>

  <p>
    <b>Start date</b><br />
    <%= f.date_select :start_date %>
  </p>

  <p>
    <b>End</b><br />
    <%= f.date_select :end_date %>
  </p>

  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', iteration_path(@project, @iteration) %> |
<%= link_to 'Back', iterations_path( @project ) %>