<h1>Iterations</h1>

<table>
<% for iteration in @iterations %>
  <tr>
    <td><%=h iteration.name %></td>
    <td><%= link_to 'Show', iteration_path(@project, iteration) %></td>
    <td><%= link_to 'Edit', edit_iteration_path(@project, iteration) %></td>
    <td><%= link_to 'Destroy', iteration_path(@project, iteration), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New iteration', new_iteration_path( @project ) %>