<h1>Listing iterations</h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
  </tr>

<% for iteration in @iterations %>
  <tr>
    <td><%=h iteration.start_date %></td>
    <td><%=h iteration.end_date %></td>
    <td><%= link_to 'Show', iteration_path(iteration) %></td>
    <td><%= link_to 'Edit', edit_iteration_path(iteration) %></td>
    <td><%= link_to 'Destroy', iteration_path(iteration), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New iteration', new_iteration_path %>