<h1>Phases</h1>

<table>
<% for phase in @phases %>
  <tr class="phase">
    <td><%= h phase.name %></td>
    <td><%= link_to 'Show', project_phase_path(@project, phase) %></td>
    <td><%= link_to 'Edit', edit_project_phase_path(@project, phase) %></td>
    <td><%= link_to 'Destroy', project_phase_path(@project, phase), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New phase', new_project_phase_path( @project ) %>