<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>strac</title>
  <%= stylesheet_link_tag 'screen' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<ul id="navigation">
		<li><%= link_to "dashboard", dashboard_path %></li>
		<% if @project and @project.id -%>
		<li><%= link_to "current iteration", iteration_url( @project, @project.iterations.current ) %></li>
		<li><%= link_to "iterations", iterations_path( @project ) %></li>
		<li><%= link_to "stories", stories_path( @project ) %></li>
		<% end -%>
		<li><%= link_to "projects", projects_path %></li>
		<li><%= link_to "users", users_path %></li>
		<li><%= link_to "companies", companies_path %></li>
		<li><%= link_to "logout", logout_users_path, :method => :post %></li>
	</ul>
	
  <div id="notice"<%= flash[:notice].blank? ? ' class="hidden"' : "" %>><%= flash[:notice] %></div>
  <div id="error"<%= flash[:error].blank? ? ' class="hidden"' : "" %>><%= flash[:error] %></div>
  <%= yield -%>
</body>
</html>